<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}">
</head>

<body>
    <div class="Buyer_seller_interface">
        <section>
            <img class = "header" src="../static/images/ONDC.jpeg" alt="Logo" />
            <a href="index.html">Home</a>
            <a href="#">#1</a>
            <a href="#">#2</a>
            <a href="#">#3</a>
        </section>
    </div>
    <div class="btn btn-three">
        <span>
            <button>
                <a href="creating_polygon.html"> Creating polygons of points</button>
        </span>
        <span><button>Generating motorable paths between two points</button></span>
        <span><button>Reverse-geocoding addresses to points on a map</button></span>
        <span><button>Computing motorable distances between two points</button></span>
        <span><button>Mapping points to polygons/paths interactively or using an API</button></span>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>