<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}">
</head>
<body>
    <div class="Buyer_seller_interface">
        <section>
            <img src="ONDC.jpg" alt="Logo"/>
            <a href="index.html">Home</a>
            <a href ="#">#1</a>
            <a href ="#">#2</a>
            <a href ="#">#3</a>
        </section>
    </div>
    <div class="btn btn-three">
        <span>
            <!-- Update the link here -->
            <a href="/creating_polygon">Creating polygons of points</a>
        </span>
        <span>Generating motorable paths between two points</span>
        <span>Reverse-geocoding addresses to points on a map</span>
        <span>Computing motorable distances between two points</span>
        <span>Mapping points to polygons/paths interactively or using an API</span>
        <span>Mapping points to polygons/paths interactively or using an API</span>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
</html>